/*Cover Component*/
.cover-container{
    background: linear-gradient(to right,#05291C,#0C5139);
    width: 100vw;
    height: 100vh;
    position: relative;

}
.background-over-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;

}
.main-container{
    position: absolute;
    left: 40vw;
    top: 50vh;
    z-index: 10;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/*web layout*/
.main-content{
    position: absolute;
    top: 142px;
    left: 148px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;

}
.left-content{
 width: 40vw;
}
.right-content{
    width: 40vw;
}

/*Salary Form*/
.main-form{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #E0E0E0;
    border-width: 0;
}
.inner-form{
    padding: 24px;
}
.header{
    display: grid;
    grid-template-columns: auto 10%;
}
.header-text{
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02px;
    color: #000000;
    text-align: left;
}
.refresh{
    display: flex;
    padding: 5px;
}
.refresh-image{
    height: 14px;
    width: 14px;
    padding: 2px;
    flex: 1;
}
.refresh-text{
    width: 39px;
    height: 20px;
    flex: 1;
    color: #0052EA;
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
}
.sub-header-text{
    padding-top: 24px;
    color: #000000;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: left;
}
.length-input{
    width: 356px;
    height: 30px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #E0E0E0;
    padding: 2px 15px 2px 15px;
    gap: 2px;
    background: #FFFFFF;
    text-align: left;
}
.field-describe{
    color: #757575;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.pay-detail-list{
    padding-top: 10px;
}
.add-pay-details-container{
    display: flex;
    padding: 5px;
}
.add-pay-image{
    height: 14px;
    width: 14px;
    padding: 2px;
    flex: 1;
}
.add-pay-text{
    flex: 1;
    color: #0052EA;
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
}

/*Pay Check*/
.paycheck-raw{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 5px;
}
.paycheck-field{
    color:#000000;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.paycheck-field-amount{
    color:#000000;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}
.net-salary-container{
    width: 100%;
    border: 2px solid #0E0E0E;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 4px;
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.net-salary-amount{
    color:#000000;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: right;
}
.net-salary-text{
    color:#000000;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: left;
}
.sub-pay-cato{
    color:#757575;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Pay Details*/
.pay-detail-container{
    display: grid;
    grid-template-columns: 212px 136px 40px 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pay-detail-title{
 margin-right: 5px;
    border-radius: 4px;
    border-width: 0;
    padding: 12px 15px 12px 15px;
}
.pay-detail-amount{
    margin-right: 5px;
    border-radius: 4px;
    border: 0;
    padding: 12px 15px 12px 15px;
    text-align: right;
}
.pay-detail-checkbox{
    display: grid;
    grid-template-columns: 30px 65px;
    margin-right: 5px;
}
.pay-check-title{
    vertical-align: center;
    padding: 10px;
}
.cancel-button{
    margin: 2px;
    border-width: 0;
    background: #EFEFEF;
    border-radius: 50%;
}

/*Additional*/
@keyframes mymove {
    from {left: 0;}
    to {left: 40%;}
}

/*Mobile Responsible*/
@media only screen and (max-width: 620px){
    .main-content{
        position: absolute;
        top: 0;
        left: 0;
        display: inline;
        row-gap: 5px;

    }
    .left-content{
        width: 100vw;
    }
    .right-content{
        margin-top: 10px;
        width: 100vw;
    }
    .pay-detail-container{
        display: grid;
        grid-template-columns: 180px 120px 40px 100px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}